# Project 4 Calculating the energy usage index (Energy Consumption (per day )divided by floor area (square foot) for a given UC Berkley building

In [1]:
!pwd

/home/jovyan/sp21/proj/proj3

In [10]:
# Run this cell to set up imports
import numpy as np
import pandas as pd

In [11]:
%reload_ext sql
%sql postgresql://jovyan@127.0.0.1:5432/template1

In [12]:
import subprocess
import os
import warnings

call = subprocess.run(["psql", "-h", "localhost", \
                       "-tAc", "SELECT 1 FROM pg_database WHERE datname='ucb_buildings'", "template1"], \
                      stdout=subprocess.PIPE, text=True)

if call.stdout != "1\n":
    os.system("gunzip -c proj3.sql.gz | psql -h localhost -d template1 -f -")
else:
    warnings.warn("you need to run dropdb -h localhost ucb_buildings if you want to reload the database.")
%sql postgresql://jovyan@127.0.0.1:5432/ucb_buildings

<ipython-input-12-70667cec2ae0>:12: UserWarning: you need to run dropdb -h localhost ucb_buildings if you want to reload the database.
  warnings.warn("you need to run dropdb -h localhost ucb_buildings if you want to reload the database.")

# SQL model No.1 - select the bulding that has the largest amount of data

In [31]:
%%sql
DROP TABLE IF EXISTS bldg;
CREATE TABLE bldg AS(
SELECT site, count(value)
FROM metadata, data
WHERE metadata.id = data.id
GROUP BY site
ORDER BY count desc
LIMIT 1);
SELECT * FROM bldg

   postgresql://jovyan@127.0.0.1:5432/template1
 * postgresql://jovyan@127.0.0.1:5432/ucb_buildings
Done.
1 rows affected.
1 rows affected.

[('Wurster Hall NEW (as of 12/6/10)', 11999)]

# SQL model No.2 - select the bulding site and map it to buildings_site_mapping

In [30]:
%%sql
DROP TABLE IF EXISTS bldg_site;
CREATE TABLE bldg_site AS(
SELECT buildings_site_mapping.*
FROM buildings_site_mapping, building
WHERE buildings_site_mapping.site = building.site);
SELECT * FROM bldg_site

   postgresql://jovyan@127.0.0.1:5432/template1
 * postgresql://jovyan@127.0.0.1:5432/ucb_buildings
Done.
1 rows affected.
1 rows affected.

[('Wurster Hall NEW (as of 12/6/10)', 'WURSTER')]

# SQL model No.3 - select the building name and map it to real_eastate_metadata

In [101]:
%%sql
DROP TABLE IF EXISTS bldg_real_estate;
CREATE TABLE bldg_real_estate AS(
SELECT rem.*
FROM bldg_site bs
INNER JOIN real_estate_metadata rem ON bs.building = rem.building_name);
SELECT * FROM bldg_real_estate

   postgresql://jovyan@127.0.0.1:5432/template1
 * postgresql://jovyan@127.0.0.1:5432/ucb_buildings
Done.
1 rows affected.
1 rows affected.

[('BERKELEY', '1797', 'WURSTER', 'CORE CAMPUS', 'BERKELEY', 'ALAMEDA', 'GENERAL', 225576, 156117, 11, '1964', 'UC', 'P', 26456866.0)]

# SQL model No.4 - get the metadata of by building site

In [34]:
%%sql
DROP TABLE IF EXISTS bldg_metadata;
CREATE TABLE bldg_metadata AS(
SELECT metadata.*
FROM metadata
INNER JOIN bldg_site bs ON bs.site=metadata.site);
SELECT * FROM bldg_metadata LIMIT 5

   postgresql://jovyan@127.0.0.1:5432/template1
 * postgresql://jovyan@127.0.0.1:5432/ucb_buildings
Done.
1287 rows affected.
5 rows affected.

[('ce655365-d1bb-5519-8d9b-d3e623f4498f', 'Energy A Net (kWh)', 'Wurster Hall NEW (as of 12/6/10)', 'kWh'),
 ('8f7801be-fccf-5653-a30a-20745dfc7a66', 'Voltage B (Volts)', 'Wurster Hall NEW (as of 12/6/10)', 'Volts'),
 ('6e544a24-26aa-50a7-b18b-65c9d8f13ae0', 'Energy Neg A (kWh)', 'Wurster Hall NEW (as of 12/6/10)', 'kWh'),
 ('d5a04659-1e83-5b8d-9578-d6047d3bf088', 'Energy Neg C (kWh)', 'Wurster Hall NEW (as of 12/6/10)', 'kWh'),
 ('cb64914e-3caa-5711-bfe7-ca62c5a5946d', 'Power A (kW)', 'Wurster Hall NEW (as of 12/6/10)', 'kW')]

# SQL model No.5 - get energy related metadata by units

In [75]:
%%sql
DROP TABLE IF EXISTS bldg_energy_metadata;
CREATE TABLE bldg_energy_metadata AS(
SELECT * 
FROM bldg_metadata
WHERE units in ('kwh', 'Kwh', 'kWh', 'kwH', 'KWh', 'KwH', 'kWH', 'KWH', 'kw', 'Kw', 'kW', 'KW'));
SELECT * FROM bldg_energy_metadata LIMIT 5

   postgresql://jovyan@127.0.0.1:5432/template1
 * postgresql://jovyan@127.0.0.1:5432/ucb_buildings
Done.
587 rows affected.
5 rows affected.

[('ce655365-d1bb-5519-8d9b-d3e623f4498f', 'Energy A Net (kWh)', 'Wurster Hall NEW (as of 12/6/10)', 'kWh'),
 ('6e544a24-26aa-50a7-b18b-65c9d8f13ae0', 'Energy Neg A (kWh)', 'Wurster Hall NEW (as of 12/6/10)', 'kWh'),
 ('d5a04659-1e83-5b8d-9578-d6047d3bf088', 'Energy Neg C (kWh)', 'Wurster Hall NEW (as of 12/6/10)', 'kWh'),
 ('cb64914e-3caa-5711-bfe7-ca62c5a5946d', 'Power A (kW)', 'Wurster Hall NEW (as of 12/6/10)', 'kW'),
 ('85ffe8c9-90f7-5709-bc1c-b5da39503b9f', 'Demand Max (kW)', 'Wurster Hall NEW (as of 12/6/10)', 'kW')]

# SQL Model No.6 - get energy related class metadata, group by

In [89]:
%%sql
DROP TABLE IF EXISTS bldg_energy_raw_classes;
CREATE TABLE bldg_energy_raw_classes AS(
SELECT class
FROM bldg_energy_metadata
GROUP BY class);
SELECT * FROM bldg_energy_raw_classes LIMIT 5

   postgresql://jovyan@127.0.0.1:5432/template1
 * postgresql://jovyan@127.0.0.1:5432/ucb_buildings
Done.
37 rows affected.
5 rows affected.

[('Energy Sum NR (kWh)',),
 ('Energy Sum (kWh)',),
 ('Energy C Net (kWh)',),
 ('Demand B (kW)',),
 ('Power A (kW)',)]

# SQL Model No.7 - get brick class through mapping the raw class name to the mapping table 
(may be we can imporve entity resolution of rawnames the before this step)

In [90]:
%%sql
DROP TABLE IF EXISTS bldg_energy_brick_classes;
CREATE TABLE bldg_energy_brick_classes AS(
SELECT m.*
FROM bldg_energy_raw_classes berc INNER JOIN mapping m
ON berc.class = m.rawname);
SELECT * FROM bldg_energy_brick_classes ORDER BY brickclass

   postgresql://jovyan@127.0.0.1:5432/template1
 * postgresql://jovyan@127.0.0.1:5432/ucb_buildings
Done.
37 rows affected.
37 rows affected.

[('Power B (kW)', 'https://brickschema.org/schema/Brick#Active_Power_Sensor'),
 ('Demand B (kW)', 'https://brickschema.org/schema/Brick#Active_Power_Sensor'),
 ('Power A (kW)', 'https://brickschema.org/schema/Brick#Active_Power_Sensor'),
 ('Wurster Main Electric Max (kW)', 'https://brickschema.org/schema/Brick#Active_Power_Sensor'),
 ('Real Power phase A (kW)', 'https://brickschema.org/schema/Brick#Active_Power_Sensor'),
 ('Wurster Main Electric Instantaneous (kW)', 'https://brickschema.org/schema/Brick#Active_Power_Sensor'),
 ('Demand A (kW)', 'https://brickschema.org/schema/Brick#Active_Power_Sensor'),
 ('Power Sum (kW)', 'https://brickschema.org/schema/Brick#Active_Power_Sensor'),
 ('Present Demand (kW)', 'https://brickschema.org/schema/Brick#Active_Power_Sensor'),
 ('Demand Min (kW)', 'https://brickschema.org/schema/Brick#Active_Power_Sensor'),
 ('Wurster Main Electric Demand (kW)', 'https://brickschema.org/schema/Brick#Active_Power_Sensor'),
 ('Real Power (kW)', 'https://brickschema.org/schema/Brick#Active_Power_Sensor'),
 ('Demand C (kW)', 'https://brickschema.org/schema/Brick#Active_Power_Sensor'),
 ('Power C (kW)', 'https://brickschema.org/schema/Brick#Active_Power_Sensor'),
 ('Demand Max (kW)', 'https://brickschema.org/schema/Brick#Active_Power_Sensor'),
 ('Demand (kW)', 'https://brickschema.org/schema/Brick#Active_Power_Sensor'),
 ('Real Power phase B (kW)', 'https://brickschema.org/schema/Brick#Active_Power_Sensor'),
 ('Real Power phase C (kW)', 'https://brickschema.org/schema/Brick#Active_Power_Sensor'),
 ('Wurster Main Electric Min (kW)', 'https://brickschema.org/schema/Brick#Active_Power_Sensor'),
 ('Energy Pos B (kWh)', 'https://brickschema.org/schema/Brick#Energy_Sensor'),
 ('Energy C Net (kWh)', 'https://brickschema.org/schema/Brick#Energy_Sensor'),
 ('Wurster Main Electric (kWh)', 'https://brickschema.org/schema/Brick#Energy_Sensor'),
 ('Energy Neg Sum NR (kWh)', 'https://brickschema.org/schema/Brick#Energy_Sensor'),
 ('Energy Neg C (kWh)', 'https://brickschema.org/schema/Brick#Energy_Sensor'),
 ('Energy B Net (kWh)', 'https://brickschema.org/schema/Brick#Energy_Sensor'),
 ('Energy A Net (kWh)', 'https://brickschema.org/schema/Brick#Energy_Sensor'),
 ('Energy Pos Sum NR (kWh)', 'https://brickschema.org/schema/Brick#Energy_Sensor'),
 ('Energy Consumption (kWh)', 'https://brickschema.org/schema/Brick#Energy_Sensor'),
 ('Energy Sum NR (kWh)', 'https://brickschema.org/schema/Brick#Energy_Sensor'),
 ('Energy Neg Sum (kWh)', 'https://brickschema.org/schema/Brick#Energy_Sensor'),
 ('Energy Pos Sum (kWh)', 'https://brickschema.org/schema/Brick#Energy_Sensor'),
 ('Energy Pos C (kWh)', 'https://brickschema.org/schema/Brick#Energy_Sensor'),
 ('Energy Neg A (kWh)', 'https://brickschema.org/schema/Brick#Energy_Sensor'),
 ('Energy Pos A (kWh)', 'https://brickschema.org/schema/Brick#Energy_Sensor'),
 ('Energy Sum (kWh)', 'https://brickschema.org/schema/Brick#Energy_Sensor'),
 ('Energy Neg B (kWh)', 'https://brickschema.org/schema/Brick#Energy_Sensor'),
 ('Peak Demand (kW)', 'https://brickschema.org/schema/Brick#Peak_Power_Demand_Sensor')]

# SQL Model No.8 - get the raw class with Energy_Sensor brickclass

In [91]:
%%sql
DROP TABLE IF EXISTS bldg_energy_classes;
CREATE TABLE bldg_energy_classes AS(
SELECT rawname 
FROM bldg_energy_brick_classes
WHERE brickclass = 'https://brickschema.org/schema/Brick#Energy_Sensor');
SELECT * FROM bldg_energy_classes

   postgresql://jovyan@127.0.0.1:5432/template1
 * postgresql://jovyan@127.0.0.1:5432/ucb_buildings
Done.
17 rows affected.
17 rows affected.

[('Energy Sum NR (kWh)',),
 ('Energy Sum (kWh)',),
 ('Energy C Net (kWh)',),
 ('Energy Neg C (kWh)',),
 ('Energy A Net (kWh)',),
 ('Energy Pos Sum NR (kWh)',),
 ('Energy Consumption (kWh)',),
 ('Energy Pos C (kWh)',),
 ('Energy Neg A (kWh)',),
 ('Energy Neg B (kWh)',),
 ('Wurster Main Electric (kWh)',),
 ('Energy Neg Sum NR (kWh)',),
 ('Energy Neg Sum (kWh)',),
 ('Energy Pos Sum (kWh)',),
 ('Energy B Net (kWh)',),
 ('Energy Pos B (kWh)',),
 ('Energy Pos A (kWh)',)]

# SQL Model No.9 - get data of the energy class

In [98]:
%%sql
DROP TABLE IF EXISTS bldg_energy_data;
CREATE TABLE bldg_energy_data AS(
SELECT data.*, bldg_energy_metadata.class 
FROM bldg_energy_metadata, bldg_energy_classes, data
WHERE bldg_energy_metadata.class = bldg_energy_classes.rawname and bldg_energy_metadata.id = data.id);
SELECT * FROM bldg_energy_data LIMIT 5

   postgresql://jovyan@127.0.0.1:5432/template1
 * postgresql://jovyan@127.0.0.1:5432/ucb_buildings
Done.
4605 rows affected.
5 rows affected.

[(datetime.datetime(2018, 6, 12, 23, 0, 9, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 'a3d3326f-20ab-5f1d-97c7-f3084df43f06', 65182.74, 'Energy Pos B (kWh)'),
 (datetime.datetime(2018, 6, 12, 22, 45, 9, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 'a3d3326f-20ab-5f1d-97c7-f3084df43f06', 65182.51, 'Energy Pos B (kWh)'),
 (datetime.datetime(2018, 6, 12, 22, 30, 9, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 'a3d3326f-20ab-5f1d-97c7-f3084df43f06', 65182.27, 'Energy Pos B (kWh)'),
 (datetime.datetime(2018, 6, 12, 22, 15, 10, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 'a3d3326f-20ab-5f1d-97c7-f3084df43f06', 65182.02, 'Energy Pos B (kWh)'),
 (datetime.datetime(2018, 6, 12, 22, 0, 9, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 'a3d3326f-20ab-5f1d-97c7-f3084df43f06', 65181.77, 'Energy Pos B (kWh)')]

# SQL Model No.10 - get the most largest kind of energy data

In [96]:
%%sql
DROP TABLE IF EXISTS bldg_energy_data_sum_class;
CREATE TABLE bldg_energy_data_sum_class AS(
SELECT class
FROM bldg_energy_data
ORDER BY value DESC
LIMIT 1);
SELECT * FROM bldg_energy_data_sum_class

   postgresql://jovyan@127.0.0.1:5432/template1
 * postgresql://jovyan@127.0.0.1:5432/ucb_buildings
Done.
1 rows affected.
1 rows affected.

[('Energy Sum (kWh)',)]

# SQL Model No.11 - get the energy comsuption data of the day 2018-06-10
(cleaning outliers of temp sensor data (pj3, q2))

In [138]:
%%sql
DROP TABLE IF EXISTS bldg_energy_consumption;
CREATE TABLE bldg_energy_consumption AS(
SELECT max(bed.value) - min(bed.value) as energy_consumption_kWh
FROM bldg_energy_data bed, bldg_energy_data_sum_class bedsc
WHERE bed.class = bedsc.class and bed.time >= '2018-06-10' and bed.time < '2018-06-11');
SELECT * FROM bldg_energy_consumption

   postgresql://jovyan@127.0.0.1:5432/template1
 * postgresql://jovyan@127.0.0.1:5432/ucb_buildings
Done.
1 rows affected.
1 rows affected.

[(30.519999999989523,)]

# SQL Model No.12 - calculate the Energy Usage Index (EUI) of that bulding of that day

In [144]:
%%sql
DROP TABLE IF EXISTS bldg_eui;
CREATE TABLE bldg_eui AS(
SELECT bec.energy_consumption_kwh / bre.bldg_asf as EUI_kWh_sf
FROM bldg_energy_consumption bec, bldg_real_estate bre);
SELECT * FROM bldg_eui

   postgresql://jovyan@127.0.0.1:5432/template1
 * postgresql://jovyan@127.0.0.1:5432/ucb_buildings
Done.
1 rows affected.
1 rows affected.

[(0.00019549440483733048,)]